@{
    ViewBag.Title = "Home Page";
}
<center style="margin-block:10px">
    <h1>@WaterCompanySystem.Resourses.Page.NAQAACompanWater</h1>
    <h3>@WaterCompanySystem.Resourses.Page.Welcome</h3>
</center>
